/**HOMEPAGE CSS**/

body{
    font-family: 'Montserrat', sans-serif;
}
a.nav-link {
    color: #fff !important;
}
a.nav-link:hover {
    color: #000 !important;
}
p.acc-title {
    font-size: 34px;
    font-weight: 700;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 0 0 10px 0;
}
.banner-1 {
    background: url(../images/section1.jpg);
    color: #fff;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.watch{
    background: url(../images/apple-watch.jpg);
    color: #fff;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
nav.navbar {
    background: transparent;
    padding: 0px;
    position: absolute;
    font-family: 'Montserrat', sans-serif;
}
.new_arrivals{
    background: url(../images/new-arrivals.jpg);
    color: #fff;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.new-arr-title{
    margin: 150px 0px;
}
.product{
    margin: 150px 0px;
}

.product-title{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
}
.product-content{
    font-family: 'Montserrat', sans-serif;
}
.product-img{
    width:100%;
}
.product-wrapper{
    border: 5px solid white;
    max-width: 100%;
    background-color: #f2f2f2;
    text-align: center;
    box-sizing: border-box;
    padding: 10px 10px;
}
.product-wrapper-small{
    border: 5px solid white;
    max-width: 100%;
    background-color: #f2f2f2;
    text-align: center;
    box-sizing: border-box;
    padding: 10px 10px;
}
.product-wrapper-small {
    padding: 100px 10px;
}
.bold {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 700;
}
.shop-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: center;
}
.icon-categories{
    margin: 50px 0px;
}
.product-details {
    text-align: center;
    padding: 10px 0px;
}
.logo{
    height: 100px;
}
p.copy {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
}

/**LOGIN CSS**/
.login{
    background: url(../images/login-bg.jpg);
    color: #fff;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
form {
    margin: 150px 0px;
}
label{
    color: #000;
    font-family: 'Montserrat', sans-serif;
}

/** SIGNUP CSS**/

.account-wrapper {
    margin: 0px;
    background: url(../images/signup.jpg);
    background-repeat: no-repeat;
    color: #fff;
    width: 100%;
}
.signup {
    margin: 100px 0px;
}

/** SHOP CSS **/
.banner-signup{
    background: url(../images/shop-banner.jpg);
    color: #fff;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.product-wrap {
    margin: 50px 0px;
}